@import "tailwindcss";

@theme inline {
  --color-primary: #2563EB;
  --color-primary-foreground: #ffffff;
  --color-secondary: #60A5FA;
  --color-secondary-foreground: #ffffff;
  --color-background: #ffffff;
  --color-soft: #F8FAFC;
  --color-border: #E2E8F0;
  --color-foreground: #0F172A;
  --font-sans: var(--font-inter);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
}
